body {
  background: #05010d;
  overflow-x: hidden;
  display: flex;
  justify-content: center;
  height: 14174.44px;
}

body::-webkit-scrollbar {
  display: none;
}

body {
  scroll-behavior: smooth;
}

.content {
  width: 100%;
}
html {
  /* font-size: calc(100vw / 1920); */
  font-size: 16px;
}
