@media screen and (min-width: 768px) and (max-width: 1023px) {
  .section_menu {
    width: 100%;
    height: 100%;
  }
  .BePartOfTheStory {
    width: 90%;
    display: flex;
    padding: 4rem 4.20063rem 4rem 4rem;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 1.5rem;
    border-radius: 0.75rem;
    background: rgba(255, 255, 255, 0.1);
  }

  .section_group {
    display: none;
    opacity: 30%;
  }
  .section_supercharged {
    text-align: center;
    font-family: Inter;
    font-size: 3rem;
    font-style: italic;
    font-weight: 550;
    line-height: 3rem; /* 110% */
    letter-spacing: 0.075rem;
    background: linear-gradient(80deg, #f83a3a 10%, #f13dd4 50%, #7000ff 90%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  .section_productivity {
    color: #fff;
    font-family: Inter;
    font-size: 2.8rem;
    font-style: normal;
    font-weight: 500;
    line-height: 3rem;
    letter-spacing: 0.075rem;
  }
  .RcDescription {
    color: rgba(255, 255, 255, 0.4);
    max-width: 39.58563rem;
    min-height: 3.5rem;
    text-align: center;
    font-family: Inter;
    font-size: 0.8rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1rem; /* 140% */
    letter-spacing: 0.01875rem;
  }
  .v17 {
    display: flex;
    align-items: center;
    color: rgba(255, 255, 255, 0.4);
    font-family: Inter;
    font-size: 0.7rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1rem; /* 123.077% */
  }
  .dwn_button {
    display: flex;
    height: 2.75rem;
    margin-top: 3.69rem;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 2.75rem;
    flex-shrink: 0;
    border-radius: 0.5rem;
    border: 3px solid rgba(255, 255, 255, 0.3);
    background: rgba(255, 255, 255, 0.9);
  }
  .raycast_description {
    color: rgba(255, 238, 247, 0.8);
    font-family: Inter;
    font-size: 0.6rem;
    font-style: normal;
    font-weight: 400;
    line-height: 0.6rem; /* 150% */
  }
  .raycast_merch {
    color: #fff;
    font-family: Inter;
    font-size: 0.8rem;
    font-style: normal;
    font-weight: 600;
    line-height: 1rem; /* 135% */
  }
  .raycast_container {
    flex-wrap: wrap;
    padding: 0.7rem 0.7rem 0.7rem 0.7rem;
  }
  .rayc_2 {
    display: flex;
    width: 7.2313rem;
    height: 1.5rem;
    justify-content: center;
    align-items: center;
    gap: 0.22456rem;
    border-radius: 0.5rem;
    background: linear-gradient(
      93deg,
      rgba(255, 91, 55, 0.1) 0.52%,
      rgba(171, 0, 82, 0.1) 100%
    );
  }
  .rayc_1 {
    display: flex;
    width: 35.4925rem;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 0.53125rem;
  }
  .background_graduate {
    overflow: visible;
    display: inline-flex;
    flex-wrap: wrap;
    width: 90%;
    padding: 1.78125rem 0rem 1.78125rem 0rem;
    align-items: center;
    flex-shrink: 0;
    border-radius: 0.75rem;
    gap: 3.44rem;
  }
  .collection_ever {
    padding: 2rem;
    width: 90%;
    flex-shrink: 0;
    border-radius: 0.75rem;
    background: rgba(255, 255, 255, 0.1);
  }
  .collection_ever_text {
    margin-top: 1rem;
    margin-left: 1rem;
  }
  .lightweight {
    display: flex;
    width: 90%;
    padding: 1rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5.34rem;
    border-radius: 0.75rem;
    background: rgba(255, 255, 255, 0.1);
  }
  .OpenSourceCommunite {
    display: none;
    width: 90%;
    padding: 1rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5.34rem;
    border-radius: 0.75rem;
    background: rgba(255, 255, 255, 0.1);
  }
  .evergrow_header_container {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: self-start;
  }
  .evergrow_main {
    width: 100%;
    object-fit: cover;
  }
  .StoreWindow {
    display: none;
    width: 46.875rem;
    gap: 3.44rem;
    height: 29.6875rem;
    border-radius: 0.75rem;
    border: 1px solid rgba(143, 141, 145, 0.2);
    background: rgba(0, 0, 0, 0.6);
    box-shadow: 0px 0px 0px 0.5px rgba(0, 0, 0, 0.8),
      0px 4px 40px 8px rgba(0, 0, 0, 0.4),
      0px 0.5px 0px 1px rgba(255, 255, 255, 0.3) inset;
    backdrop-filter: blur(36px);
  }
  .lightweight_text_container {
    width: 90%;
    height: 12.6875rem;
  }
  .BePartOfTheStory_text_container {
    width: 90%;
  }
  .background_pBLEY {
    z-index: -5;
    border-radius: 0.75rem;
    /* margin-top: 7.75rem; */
    position: absolute;
    border-radius: 0.75rem;
    width: 90%;
    object-fit: cover;
    flex-shrink: 0;
  }
  .lighting_image {
    width: 100%;
    object-fit: cover;
  }
  .lightweight__header__container {
    padding-top: 1rem;
    padding-left: 1rem;
  }
  .default_header_header {
    color: #fff;
    text-align: center;
    font-family: Inter;
    font-size: calc(2.5rem);
    font-style: normal;
    font-weight: 600;
    line-height: 3rem; /* 110% */
  }
  .get_yours {
    font-family: Inter;
    font-size: 0.6rem;
    font-style: normal;
    font-weight: 400;
    line-height: 0.8rem; /* 115% */
    background: linear-gradient(93deg, #ff5b37 0.52%, #ab0052 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  .graduate_description {
    display: flex;
    max-width: 30.9375rem;
    padding: 0rem 2rem 0rem 2rem;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 1.5rem;
  }
  .graduate_1 {
    display: flex;
    justify-content: center;
  }
  .code_png {
    display: none;
  }
  .imgx {
    display: none;
  }
  .img9x_container {
    display: none;
  }
}

@media (max-width: 768px) {

  .BePartOfTheStory {
    width: 90%;
    display: flex;
    padding: 4rem 4.20063rem 4rem 4rem;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 1.5rem;
    border-radius: 0.75rem;
    background: rgba(255, 255, 255, 0.1);
  }

  .section_menu {
    width: 100%;
    height: 100%;
  }
  .img9x_container {
    display: none;
  }
  .section_group {
    display: none;
    opacity: 30%;
  }
  .section_supercharged {
    text-align: center;
    font-family: Inter;
    font-size: 3.2rem;
    font-style: italic;
    font-weight: 550;
    line-height: 3.1rem; /* 110% */
    letter-spacing: 0.075rem;
    background: linear-gradient(80deg, #f83a3a 10%, #f13dd4 50%, #7000ff 90%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  .section_productivity {
    color: #fff;
    font-family: Inter;
    font-size: 3rem;
    font-style: normal;
    font-weight: 500;
    line-height: 3rem;
    letter-spacing: 0.075rem;
  }
  .RcDescription {
    color: rgba(255, 255, 255, 0.4);
    max-width: 39.58563rem;
    min-height: 3.5rem;
    text-align: center;
    font-family: Inter;
    font-size: 0.8rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1rem; /* 140% */
    letter-spacing: 0.01875rem;
  }
  .v17 {
    display: flex;
    align-items: center;
    color: rgba(255, 255, 255, 0.4);
    font-family: Inter;
    font-size: 0.7rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1rem; /* 123.077% */
  }
  .dwn_button {
    display: flex;
    height: 2.75rem;
    margin-top: 3.69rem;
    justify-content: center;
    align-items: center;
    width: 80%;
    height: 2.75rem;
    flex-shrink: 0;
    border-radius: 0.5rem;
    border: 3px solid rgba(255, 255, 255, 0.3);
    background: rgba(255, 255, 255, 0.9);
  }
  .raycast_description {
    color: rgba(255, 238, 247, 0.8);
    font-family: Inter;
    font-size: 0.6rem;
    font-style: normal;
    font-weight: 400;
    line-height: 0.6rem; /* 150% */
  }
  .raycast_merch {
    color: #fff;
    font-family: Inter;
    font-size: 0.8rem;
    font-style: normal;
    font-weight: 600;
    line-height: 1rem; /* 135% */
  }
  .raycast_container {
    flex-wrap: wrap;
    padding: 0.7rem 0.7rem 0.7rem 0.7rem;
  }
  .rayc_2 {
    display: flex;
    width: 7.2313rem;
    height: 1.5rem;
    justify-content: center;
    align-items: center;
    gap: 0.22456rem;
    border-radius: 0.5rem;
    background: linear-gradient(
      93deg,
      rgba(255, 91, 55, 0.1) 0.52%,
      rgba(171, 0, 82, 0.1) 100%
    );
  }
  .rayc_1 {
    display: flex;
    width: 35.4925rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.53125rem;
  }
  .background_graduate {
    overflow: visible;
    display: inline-flex;
    flex-wrap: wrap;
    width: 90%;
    padding: 1.78125rem 0rem 1.78125rem 0rem;
    align-items: center;
    flex-shrink: 0;
    border-radius: 0.75rem;
    gap: 3.44rem;
  }
  .collection_ever {
    padding: 2rem;
    width: 90%;
    flex-shrink: 0;
    border-radius: 0.75rem;
    background: rgba(255, 255, 255, 0.1);
  }
  .collection_ever_text {
    margin-top: 1rem;
    margin-left: 1rem;
  }
  .lightweight {
    display: flex;
    width: 90%;
    padding: 1rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5.34rem;
    border-radius: 0.75rem;
    background: rgba(255, 255, 255, 0.1);
  }
  .OpenSourceCommunite {
    display: none;
    width: 90%;
    padding: 1rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5.34rem;
    border-radius: 0.75rem;
    background: rgba(255, 255, 255, 0.1);
  }
  .evergrow_header_container {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: self-start;
  }
  .evergrow_main {
    width: 100%;
    object-fit: cover;
  }
  .StoreWindow {
    display: none;
    width: 46.875rem;
    gap: 3.44rem;
    height: 29.6875rem;
    border-radius: 0.75rem;
    border: 1px solid rgba(143, 141, 145, 0.2);
    background: rgba(0, 0, 0, 0.6);
    box-shadow: 0px 0px 0px 0.5px rgba(0, 0, 0, 0.8),
      0px 4px 40px 8px rgba(0, 0, 0, 0.4),
      0px 0.5px 0px 1px rgba(255, 255, 255, 0.3) inset;
    backdrop-filter: blur(36px);
  }
  .lightweight_text_container {
    width: 90%;
    height: 12.6875rem;
  }
  .BePartOfTheStory_text_container {
    width: 90%;
  }
  .background_pBLEY {
    z-index: -5;
    border-radius: 0.75rem;
    /* margin-top: 7.75rem; */
    position: absolute;
    border-radius: 0.75rem;
    width: 90%;
    object-fit: cover;
    flex-shrink: 0;
  }
  .lighting_image {
    width: 100%;
    object-fit: cover;
  }
  .lightweight__header__container {
    padding-top: 1rem;
    padding-left: 1rem;
  }
  .default_header_header {
    color: #fff;
    text-align: center;
    font-family: Inter;
    font-size: calc(2.5rem);
    font-style: normal;
    font-weight: 600;
    line-height: 3rem; /* 110% */
  }
  .get_yours {
    font-family: Inter;
    font-size: 0.6rem;
    font-style: normal;
    font-weight: 400;
    line-height: 0.8rem; /* 115% */
    background: linear-gradient(93deg, #ff5b37 0.52%, #ab0052 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  .graduate_description {
    display: flex;
    max-width: 30.9375rem;
    padding: 0rem 2rem 0rem 2rem;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 1.5rem;
  }
  .graduate_1 {
    display: flex;
    justify-content: center;
  }
  .code_png {
    display: none;
  }
  .imgx {
    display: none;
  }
}

@media (min-width: 1024px) {
  .get_yours {
    font-family: Inter;
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.00625rem; /* 115% */
    background: linear-gradient(93deg, #ff5b37 0.52%, #ab0052 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  .lighting_image {
    width: 20.75rem;
    height: 17.39938rem;
  }
  .lightweight_text_container {
    width: 20.75rem;
    height: 12.6875rem;
  }
  .BePartOfTheStory_text_container {
    width: 21.4rem;
  }
  .background_pBLEY {
    z-index: -5;
    border-radius: 0.75rem;
    /* margin-top: 7.75rem; */
    position: absolute;
    border-radius: 0.75rem;
    width: 76rem;
    flex-shrink: 0;
  }
  .graduate_description {
    display: flex;
    max-width: 30.9375rem;
    padding: 4rem 0.095rem 4rem 4rem;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 1.5rem;
  }
  .StoreWindow {
    transform: translate(75%, 0%);
    position: absolute;
    overflow: visible;
    width: 46.875rem;
    gap: 3.44rem;
    height: 29.6875rem;
    border-radius: 0.75rem;
    border: 1px solid rgba(143, 141, 145, 0.2);
    background: rgba(0, 0, 0, 0.6);
    box-shadow: 0px 0px 0px 0.5px rgba(0, 0, 0, 0.8),
      0px 4px 40px 8px rgba(0, 0, 0, 0.4),
      0px 0.5px 0px 1px rgba(255, 255, 255, 0.3) inset;
    backdrop-filter: blur(36px);
  }
  .evergrow_main {
    width: 45rem;
    height: 22.73938rem;
  }
  .evergrow_header_container {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: self-start;
  }

  .lightweight {
    display: flex;
    width: 28.75rem;
    padding: 4rem;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 5.34rem;
    border-radius: 0.75rem;
    background: rgba(255, 255, 255, 0.1);
  }
  .OpenSourceCommunite {
    display: flex;
    width: 45rem;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 5.34rem;
    border-radius: 0.75rem;
    background: rgba(255, 255, 255, 0.1);
  }

  .collection_ever_text {
    margin-top: 4rem;
    margin-left: 4rem;
  }
  .collection_ever {
    width: 45.25rem;
    flex-shrink: 0;
    border-radius: 0.75rem;
    background: rgba(255, 255, 255, 0.1);
  }
  .background_graduate {
    overflow: visible;
    display: inline-flex;
    height: 41.25rem;
    width: 76rem;
    padding: 1.78125rem 0rem 1.78125rem 0rem;
    align-items: center;
    flex-shrink: 0;
    border-radius: 0.75rem;
    gap: 3.44rem;
  }
  .rayc_1 {
    display: flex;
    width: 35.4925rem;
    padding-right: 4.82431rem;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 0.53125rem;
  }
  .rayc_2 {
    display: flex;
    width: 7.2313rem;
    min-height: 2.00563rem;
    padding: 0.46563rem 1.00063rem 0.53375rem 1rem;
    justify-content: center;
    align-items: flex-start;
    gap: 0.22456rem;
    border-radius: 0.5rem;
    background: linear-gradient(
      93deg,
      rgba(255, 91, 55, 0.1) 0.52%,
      rgba(171, 0, 82, 0.1) 100%
    );
  }
  .raycast_container {
    padding: 2.5625rem 2.56188rem 2.5625rem 2.5625rem;
  }
  .raycast_merch {
    color: #fff;
    font-family: Inter;
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 600;
    line-height: 1.6875rem; /* 135% */
  }
  .raycast_description {
    color: rgba(255, 238, 247, 0.8);
    font-family: Inter;
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.5rem; /* 150% */
  }
  .dwn_button {
    display: flex;
    height: 2.75rem;
    margin-top: 3.69rem;
    justify-content: center;
    align-items: center;
    width: 17.125rem;
    height: 2.75rem;
    flex-shrink: 0;
    border-radius: 0.5rem;
    border: 3px solid rgba(255, 255, 255, 0.3);
    background: rgba(255, 255, 255, 0.9);
  }
  .v17 {
    display: flex;
    align-items: center;
    color: rgba(255, 255, 255, 0.4);
    font-family: Inter;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px; /* 123.077% */
  }
  .section_supercharged {
    text-align: center;
    font-family: Inter;
    font-size: 5rem;
    font-style: italic;
    font-weight: 700;
    line-height: 5.7rem; /* 110% */
    letter-spacing: 0.075rem;
    background: linear-gradient(80deg, #f83a3a 10%, #f13dd4 50%, #7000ff 90%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  .section_productivity {
    color: #fff;
    font-family: Inter;
    font-size: 5rem;
    font-style: normal;
    font-weight: 700;
    line-height: 5.5rem;
    letter-spacing: 0.075rem;
  }
  .RcDescription {
    width: 100%;
    color: rgba(255, 255, 255, 0.4);
    max-width: 39.58563rem;
    min-height: 3.5rem;
    text-align: center;
    font-family: Inter;
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.75rem; /* 140% */
    letter-spacing: 0.01875rem;
  }
}

.section {
  position: relative;
}

.section_container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.section_menu {
  margin-top: 7.28rem;
  max-width: 53.75rem;
  max-height: 27.9375rem;
  flex-shrink: 0;
}

.section_menu_img {
  width: 100%;
  height: 100%;
}

.section_background {
  position: absolute;
  box-shadow: inset 0px -6px 120px 10px rgba(0, 0, 0, 0.463);
  flex-shrink: 0;
  background: url("/img/section_background.jpeg") lightgray 0px 0px / 100% 100%
    no-repeat;
  filter: brightness(110%);
  filter: saturate(1.4);
  height: 1200px;
  width: 1500px;
  margin-top: -150px;
  z-index: -10;
}
.vector_img {
  margin-top: 31.28rem;
  display: flex;
  justify-content: center;
  z-index: 1;
  opacity: 40%;
  position: absolute;
  width: 100%;
  height: 40rem;
  flex-shrink: 0;
}
.section_group {
  opacity: 30%;
}
.section_background_container {
  width: 100%;
  display: flex;
  justify-content: center;
}

.supercharged_container {
  flex-shrink: 0;
  margin-top: -1.88rem;
  display: block;
}

.supercharged_container_1 {
  width: 100%;
  display: flex;
  white-space: nowrap;
  justify-content: center;
  flex-shrink: 0;
}
.RcDescription_container {
  padding-left: 5%;
  padding-right: 5%;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 1.28rem;
}

.dwn_a {
  color: #0d0d0d;
  font-family: Inter;
  font-size: 1rem;
  font-style: normal;
  font-weight: 500;
  line-height: 1.25rem; /* 125% */
  letter-spacing: 0.0125rem;
}

.dwn_description {
  width: 100%;
  align-items: center;
  margin-top: 1.19rem;
  display: flex;
  justify-content: center;
}

.dwn_m98 {
  margin-left: 0.98rem;
}
.dwn_m71 {
  margin-left: 0.71rem;
}

.raycast_container {
  width: 100%;
  display: inline-flex;
  height: 100%;

  justify-content: center;
  align-items: center;
  gap: 1.5rem;
  flex-shrink: 0;
  border-radius: 0.75rem;
  border: 1px solid rgba(255, 255, 255, 0.1);
  background: linear-gradient(
      0deg,
      rgba(22, 4, 8, 0.96) 0%,
      rgba(22, 4, 8, 0.96) 100%
    ),
    linear-gradient(92deg, #ff5b37 0.52%, #ab0052 100%);
}
.raycast_borders {
  margin-top: 8rem;
  width: 90%;
  max-width: 50rem;
  max-height: 45rem;
  padding: 0.25rem;
  flex-shrink: 0;
  border-radius: 1rem;
  background: linear-gradient(
      0deg,
      rgba(22, 4, 8, 0.5) 0%,
      rgba(22, 4, 8, 0.5) 100%
    ),
    linear-gradient(92deg, #ff5b37 0.52%, #ab0052 100%);
  box-shadow: 0px 0px 27px 0px rgba(173, 40, 40, 0.48);
}

.rayc_getyours_button {
  gap: 0.22456rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.it_easy_container {
  margin-top: 15.99rem;
  display: flex;
  width: 100%;
  min-height: 3.58063rem;
  padding: 0rem 14.11938rem 0rem 14.11813rem;
  justify-content: center;
  align-items: center;
  gap: 0.2305rem;
}

.easy_font {
  text-align: center;
  font-family: Inter;
  font-size: 3.25rem;
  font-style: normal;
  font-weight: 600;
  line-height: 3.575rem; /* 110% */
}
.its_easy {
  color: #fff;
}
.installed {
  color: #59d499;
}
.easy_main {
  display: flex;
  max-width: 75.25rem;
  width: 100%;
  padding: 0rem 2rem 6rem 2rem;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;
}

.easy_description {
  display: flex;
  width: 100%;
  max-width: 49.96rem;
  min-height: 3.5rem;
  flex-direction: column;
  justify-content: center;
  flex-shrink: 0;
}

.easy_description_text {
  color: rgba(255, 255, 255, 0.6);
  text-align: center;
  font-family: Inter;
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.75rem; /* 140% */
  letter-spacing: 0.01875rem;
}

.arrow2 {
  display: flex;
  width: 4rem;
  height: 4rem;
  padding: 1rem;
  justify-content: center;
  align-items: center;
  border-radius: 1rem;
  background: radial-gradient(
      100% 100% at 50% -4950%,
      rgba(255, 255, 255, 0.3) 0%,
      rgba(255, 255, 255, 0) 100%
    ),
    rgba(255, 255, 255, 0.15);
}
.one_up_container {
  display: flex;
  height: 1.1875rem;
  flex-direction: column;
  justify-content: center;
}

.one_up {
  color: #fff;
  font-family: Inter;
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 600;
  line-height: 1.6875rem; /* 135% */
}
.raycast_extensions_container {
  display: flex;

  flex-direction: column;
  justify-content: center;
}

.raycast_extensions {
  color: rgba(255, 255, 255, 0.8);
  font-family: Inter;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5rem; /* 150% */
  letter-spacing: 0.01875rem;
}
.browse_extensions_container {
  display: flex;
  width: 10.625rem;
  height: 2.5rem;
  padding: 0.71875rem 1.23119rem 0.78125rem 1.25rem;
  justify-content: center;
  align-items: center;
  border-radius: 0.5rem;
  background: rgba(255, 255, 255, 0.2);
}

.browse_extensions {
  color: #fff;
  font-family: Inter;
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 500;
  line-height: 1rem; /* 114.286% */
  letter-spacing: 0.0125rem;
}

.StoreCommandExample {
  display: flex;
  width: 46.875rem;
  padding: 0.71875rem 1rem 0.78125rem 1rem;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}
.arrow3 {
  display: flex;
  width: 1.5rem;
  height: 1.5rem;
  padding: 0.375rem;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  border-radius: 0.5rem;
  background: rgba(255, 255, 255, 0.1);
}
.SearchBar {
  display: flex;
  width: 26.25rem;
  height: 1.625rem;
  padding: 0.1875rem 0.125rem;
  justify-content: start;
  align-items: center;
  flex-shrink: 0;
}
.SearchBarText {
  color: rgba(255, 255, 255, 0.4);
  font-family: Inter;
  font-size: 1rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.00625rem;
}
.SearchBar1 {
  display: flex;
  width: 13.44356rem;
  height: 1.25rem;
  flex-direction: column;
  justify-content: center;
  flex-shrink: 0;
}

.SearchBarEnter {
  display: flex;
  width: 16rem;
  height: 2rem;
  padding: 0.5rem 0.6875rem;
  justify-content: center;
  align-items: center;
  gap: 0.625rem;
  flex-shrink: 0;
  border-radius: 0.5rem;
  border: 1px solid rgba(255, 255, 255, 0.2);
}
.WIcon {
  width: 1rem;
  height: 1rem;
  flex-shrink: 0;
}
.Spublic {
  display: flex;
  width: 2.38906rem;
  height: 1rem;
  flex-direction: column;
  justify-content: center;
  flex-shrink: 0;
}
.Spublic_text {
  color: #fff;
  font-family: Inter;
  font-size: 0.8125rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1rem; /* 123.077% */
  letter-spacing: 0.00625rem;
}
.SearchBarInput {
  display: flex;
  width: 9.3rem;
  height: 1rem;
  padding-right: 9.29844rem;
  align-items: center;
  flex-shrink: 0;
}
.WSelector {
  width: 0.6875rem;
  height: 0.6875rem;
  flex-shrink: 0;
}
.WFeatured_container {
  display: flex;
  width: 46.75rem;
  padding-top: 0.97rem;
  padding-left: 1rem;
  padding-bottom: 0.53rem;
  height: 0.75rem;
  flex-direction: column;
  justify-content: center;
  flex-shrink: 0;
}
.WFeatured {
  color: rgba(255, 255, 255, 0.6);

  font-family: Inter;
  font-size: 0.75rem;
  font-style: normal;
  font-weight: 500;
  line-height: 0.75rem; /* 100% */
  letter-spacing: 0.00625rem;
}
.list_container {
  margin-top: 0.53rem;
  display: inline-flex;
  width: 46.12rem;
  height: 3.625rem;
  padding: 0.625rem;
  justify-content: center;
  align-items: center;
  gap: 0.625rem;
  margin-left: 0.31rem;
  flex-shrink: 0;
  border-radius: 0.375rem;
}
.xz1 {
  margin-top: 0.44rem;
}

.list_container_1 {
  background: rgba(255, 255, 255, 0.1);
}

.image_w {
  width: 1.5rem;
  height: 1.5rem;
}
.image_y {
  width: 1rem;
  height: 1rem;
  flex-shrink: 0;
}
.image_y1 {
  width: 1rem;
  height: 1rem;
  border-radius: 0.5rem;
}
.list_header_container {
  display: flex;
  width: 31.59rem;
  height: 1rem;
  flex-direction: column;
  justify-content: center;
  flex-shrink: 0;
}
.header_font1 {
  color: #fff;
  font-family: Inter;
  font-size: 0.8125rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1rem; /* 123.077% */
  letter-spacing: 0.00625rem;
}
.list_description_container {
  display: flex;
  width: 31.59rem;
  height: 1rem;
  flex-direction: column;
  justify-content: center;
  flex-shrink: 0;
}

.description_font1 {
  color: rgba(255, 255, 255, 0.6);
  font-family: Inter;
  font-size: 0.8125rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1rem; /* 123.077% */
  letter-spacing: 0.00625rem;
}

.market_panel {
  display: flex;

  height: 1rem;
  justify-content: center;
  align-items: flex-start;
  gap: 1.5rem;
}
.market_panel_image {
  gap: 0.625rem;
  flex-shrink: 0;
  padding-right: 0.29463rem;
  display: flex;
  align-items: flex-start;
}

.lighting_container {
  display: flex;
  width: 4rem;
  height: 4rem;
  padding: 1rem;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  border-radius: 1rem;
  background: radial-gradient(
      100% 100% at 50% -4950%,
      rgba(255, 255, 255, 0.2) 0%,
      rgba(255, 255, 255, 0) 100%
    ),
    rgba(255, 255, 255, 0.1);
}

.lighting {
  width: 2rem;
  height: 2rem;
  flex-shrink: 0;
}

.default_header_text {
  margin-top: 1.5rem;
  color: #fff;
  font-family: Inter;
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 600;
  line-height: 1.6875rem; /* 135% */
}
.lighting_description {
  display: flex;
  height: 3rem;
  justify-content: center;
  flex-shrink: 0;
}
.default_description_text {
  display: inline-block;
  margin-top: 1rem;
  color: rgba(255, 255, 255, 0.8);
  font-family: Inter;
  height: fit-content;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5rem; /* 150% */
  letter-spacing: 0.01875rem;
}

.evergrow_description {
  padding-right: 4rem;
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  flex-shrink: 0;
}

.collection_ever {
  display: flex;
  flex-direction: column;
  gap: 4rem;
}

.explore_store_container {
  display: flex;
  width: 100%;
  height: 1.06rem;
  justify-content: center;
  flex-shrink: 0;
}

.default_footer_text {
  display: flex;
  color: #fff;
  font-family: Inter;
  font-size: 1rem;
  font-style: normal;
  font-weight: 500;
  line-height: 1.06rem; /* 106% */
  letter-spacing: 0.01875rem;
}
.header_13_container {
  display: flex;
  width: 71.25rem;
  height: 3.575rem;
  justify-content: center;
  flex-shrink: 0;
}

.header_13_pro {
  color: #ffe2e2;
  text-align: center;
  text-shadow: 1px 0px 10px #ff6363;
}

.TurnProTo {
  display: flex;
  width: 100%;
  max-width: 49.75rem;
  min-height: 3.5rem;
  flex-direction: column;
  justify-content: center;
  flex-shrink: 0;
}

.Introduction_pro_container {
  display: flex;
  width: 8.5rem;
  padding: 0.40625rem 0.8125rem 0.46875rem 0.8125rem;
  justify-content: center;
  align-items: flex-end;

  border-radius: 1rem;
  border: 1px solid rgba(255, 255, 255, 0.15);
  background: linear-gradient(
    90deg,
    rgba(252, 136, 160, 0.25) 0%,
    rgba(249, 195, 195, 0.25) 100%
  );
}

.Introduction_pro {
  color: #fff;
  font-family: Inter;
  font-size: 0.75rem;
  font-style: normal;
  font-weight: 500;
  line-height: 1rem; /* 133.333% */
}
.arrow5 {
  width: 0.75rem;
  height: 0.75rem;
  flex-shrink: 0;
}
.arrow5_container {
  height: 100%;
  display: flex;
  align-items: center;
  align-content: center;
}

.Introduction_pro_container1 {
  display: flex;
  gap: 0.354rem;
  align-items: center;
}

.Container_container__pBLEY {
  display: flex;
  flex-direction: column;
  margin-left: 5rem;
  margin-right: 5rem;
  width: 100%;
}
.swift_ui {
  box-sizing: border-box;
  max-width: calc(1440 * 0.4px);
  width: 70%;
  position: absolute;
  object-fit: cover;
}
.swift_ui_container {
  width: 100%;
  display: flex;
  height: fit-content;
  flex-direction: column;
  align-items: center;
  height: 100%;
}

.PuthTheProContainer {
  gap: 2rem;
  flex-wrap: wrap;
  margin-top: 2rem;
  display: flex;
  justify-content: center;
}

.alwaysOnChat {
  max-width: 24rem;
  width: 90%;
  height: 23.78938rem;
  flex-shrink: 0;
  border-radius: 0.75rem;
  background: linear-gradient(
    0deg,
    rgba(255, 255, 255, 0.06) 0%,
    rgba(255, 255, 255, 0.04) 100%
  );
}
.image_ui_container1 {
  height: 100%;
  width: 50%;
  display: flex;
  justify-content: center;
}

.alway_on_chat_img_container {
  width: 100%;
  z-index: -5;
  display: flex;
  justify-content: center;
}
.alway_on_chat_img {
  width: 21rem;
  height: 10.9375rem;
  flex-shrink: 0;
}

.light_layout {
  flex-shrink: 0;
  border-radius: 0.1875rem;
  background: linear-gradient(
    180deg,
    rgba(255, 99, 99, 0.25) 50%,
    rgba(205, 74, 74, 0.15) 100%
  );
  box-shadow: 0px 0px 27px 0px rgba(255, 99, 99, 0.4);
}
.alway_on_chat_text_container {
  padding-right: 2.6rem;
  padding-left: 2.5rem;
  padding-top: 1.5rem;
}
.PutTheProFooter {
  width: 100%;
  justify-content: center;
  display: flex;
  padding-bottom: 16rem;
  margin-top: 4rem;
}

.footer_chat_gpt {
  display: flex;
}

.default_header_header {
  color: #fff;
  text-align: center;
  font-family: Inter;
  font-size: 3.25rem;
  font-style: normal;
  font-weight: 600;
  line-height: 3.575rem; /* 110% */
}

.pink_graduate {
  background: linear-gradient(
    100deg,
    #ffa7a7 2.2%,
    #a30cb5 29.17%,
    #00173a 95.31%
  );
}
.sky_graduate {
  padding-right: 4rem;
  display: flex;
  justify-content: end;
  background: linear-gradient(
    100deg,
    #dcf9ff 0%,
    #621dba 48.44%,
    #04001c 95.31%
  );
}
.browse_extensions_containerx {
  display: flex;
  width: 7.35438rem;
  height: 2.5rem;
  padding: 0.71875rem 1.23rem 0.78125rem 1.25rem;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  border-radius: 0.5rem;
  background: rgba(0, 0, 0, 0.3);
}

.imgx {
  height: 100%;
  display: flex;
  align-items: center;
  right: 50%;
  position: absolute;
  width: 100%;
  display: flex;
  justify-content: flex-start;
  max-width: 48.875rem;
  height: 34.76688rem;
  flex-shrink: 0;
}

.code_png {
  margin-top: 6.5rem;
  width: fit-content;
  height: fit-content;
  z-index: 1;
}

.easy_correct {
  margin-left: 40px;
}

.img9x_container {
  margin-left: 20%;
  max-width: 26rem;
  max-height: 23.115rem;
  object-fit: cover;
  flex-shrink: 0;
  z-index: 2;
}
.background_graduate_container {
  display: flex;
  justify-content: center;
  width: 100%;
}
.opensource_text_container {
  padding: 4rem;
  width: 60%;
}

.opensource__header__container {
  display: flex;
  gap: 2rem;
}
.git_tree_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
}
.git_tree_branch {
  display: block;
  width: 0.125rem;
  height: 2.75rem;
  flex-shrink: 0;
  border-left: 2px dashed rgba(255, 255, 255, 0.2);
}
.branch_icon {
}
.branch_description__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 3rem;
  padding-right: 2rem;
}

.first_container {
  display: flex;
  width: 15.22rem;
  height: 1.875rem;
  padding: 0.4375rem 0.78944rem 0.4375rem 0.8125rem;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  border-radius: 1rem;
  border: 1px solid rgba(255, 255, 255, 0.1);
  background: rgba(255, 255, 255, 0.05);
}
.branch_description__text {
  color: rgba(255, 255, 255, 0.8);
  text-align: center;
  font-family: "JetBrains Mono";
  font-size: 0.75rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1rem; /* 133.333% */
  letter-spacing: 0.01875rem;
}
.footer_productivity {
  padding-top: 2rem;
  display: flex;
  justify-content: center;
  width: 100%;
  flex-wrap: wrap;
  gap: 2rem;
}
.BePartOfTheStory {
  display: flex;
  padding: 4rem 4.20063rem 4rem 4rem;
  flex-direction: column;
  align-items: flex-start;
  gap: 1.5rem;
  border-radius: 0.75rem;
  background: rgba(255, 255, 255, 0.1);
}
.BePartOfTheStory_description{

}